* {
  box-sizing: border-box;
}

body {
  background-color: rgb(178, 131, 223);
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

ul li {
  color: black;
}

.flex {
  display: grid;
  text-align: center;
  grid-template: 1fr 1fr / 1fr 1fr;
  font-size: 30px;
}

.box {
  display: grid;
  text-align: center;
  grid-template: 1fr 1fr / 1fr 1fr;
  font-size: 30px;
}