* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

body {
  background-color: #eebb2f;
  text-align: center;
}

#board-grid {
  position: relative;
  display: grid;
  border: 2px solid black;
  padding: 200px;
  justify-content: center;
}

.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 5px solid black;
  padding: 10px;
}

.boardborder {
  margin: 0;
  border: 2px solid rgb(255, 5, 5);
}

.cHead {
  border-radius: 33%;
  object-fit: cover;
  color: rgb(230, 105, 239);
  transform: scaleX(-1);
}

.cSeg {
  background-color: rgb(62, 211, 67);
  border-radius: 33%;
  font-size: 26px;
  color: rgb(62, 211, 67);
  /* border: 1px solid black; */
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

ul li {
  color: black;
}

.score {
  display: grid;
  text-align: center;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  font-size: 30px;
}